@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  [type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;  
  }
}

@font-face {
  font-family: "Helvetica";
  src: url("../src/assets/fonts/Helvetica-Neue-Font/Helvetica\ Neue\ LTW0697BlkCnObl/Helvetica Neue LTW0697BlkCnObl.ttf"), format("ttf");
}

.font-case {
  text-transform: uppercase;
  font-family: "Helvetica", sans-serif;
}

/* For Chrome */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  .font-case {
    font-variant-caps: all-small-caps;
  }
}



